# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore heavy dataset files, but keep folder structure via .gitkeep
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.csv
*.txt
*.parquet
*.zip
*.tar.gz

# IDE & OS configuration files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
